@charset "utf-8";
body,h1,h2,h3,h4,h5,h6,div,p,dl,dt,dd,ol,ul,li,form,table,th,td,a,img,span,strong,var,em,i,input,button,textarea,select,option{
	margin: 0; padding: 0;
	box-sizing: border-box;
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box;/* Safari */
}
html{ -webkit-text-size-adjust:none; text-size-adjust:none}
html,body{font-family:"微软雅黑","宋体",Arail,Tabhoma; text-align: left;}
ul,ol{list-style: none;}
img{border: none;vertical-align: middle;cursor: pointer;}
input,select,textarea,button{outline:0;}
button{border: none;}
table{border-collapse: collapse; border-spacing: 0;}
th,var,em{font-weight: normal; font-style: normal;}
a{text-decoration: none;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}